body {
    text-align: center;
}

a {
    text-decoration: none;
}

.date-time {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.25rem;
}

.date-time, h3, h4 {
        padding: 0;
        margin: 0;
}

/* .bg-red {
    background-color: red !important;
} */

.ui-bar-c, .ui-body-c {
    background-color: orange;
}

.ui-bar-d, .ui-body-d {
    background-color: red;
}
